
<div>Тест</div>
<form asp-controller="Home" asp-action="GetFormStage">
    <input id="stageId" placeholder="idStage"/>
    <button id="ClickButton"><div>Click</div></button>
</form>
<div id="stageForm"></div>

<script src="/js/jqueryMin.js"></script>
<script src="/js/Patrial.js"></script>
